* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #0a4d68;
}

.heading {
  text-align: center;
  margin-top: 20px;
}

.form {
  /* background: #d9eee7; */
  padding: 20px;
}
hr {
  margin: 5px auto;
  margin-bottom: 20px;
  height: 5px;
  color: rgb(19, 209, 168);
  border: 3px solid;
  border-radius: 5px;
}
.underline {
  width: 35%;
}
.underline2 {
  width: 20%;
}

label {
  width: 200px;
  color: #ec8e08;
  font-weight: bold;
}

.gender {
  margin: 10px;
}

input {
  border: 2px solid rgb(70, 70, 70);
  border-radius: 8px;
  color: black;
}
.alert {
  color: rgb(0, 230, 0);
}
.content {
  background: #b9eddd;
  margin: 10px 5px;

  padding: 10px;
  border-radius: 5px;
  color: black;
}

footer {
  font-size: 20px;
  color: rgba(189, 189, 189, 0.5);
  text-align: center;
  margin: 35px;
}
